<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <td class="w-4 p-4">
        <div class="flex items-center">
            <input id="checkbox-table-search-2" type="checkbox" class="checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-table-search-2" class="sr-only">checkbox</label>
        </div>
    </td>
    <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <div class="ps-3">
            <div class="text-base font-semibold">{{title}}</div>
        </div>
    </th>
    <td class="px-6 py-4 ticket-description">
        {{description}}
    </td>
    <td class="px-6 py-4">
        <div class="text-base font-semibold">{{author}}</div>
    </td>
    <td class="px-6 py-4">
        <div class="flex items-center">
            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full {{statusClasses}}">{{status}}</span>
        </div>
    </td>
    <td class="px-6 py-4">
        <div class="text-base font-semibold">{{creationDate}}</div>
    </td>
    <td class="px-6 py-4 flex space-x-2">
        <!-- Modal toggle -->
        <button data-id="{{id}}" data-modal-target="select-modal" data-modal-toggle="select-modal" class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded hover:bg-gray-900 dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-900 dark:hover:text-white" type="button">
            Modifier
        </button>
        <button data-id="{{id}}" data-modal-hide="popup-modal" type="button" class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded hover:bg-gray-900 dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-900 dark:hover:text-white">
            Supprimer
        </button>
    </td>
</tr>